# notmuch config
# Docs: https://notmuchmail.org/doc/latest/man5/notmuch-config.html

[database]
path=/Users/jasonkuhrt/email/maildir

[user]
name=Jason Kuhrt
primary_email=jasonkuhrt@me.com

[new]
# Tags for new messages
tags=unread;inbox
# Ignore certain files
ignore=.mbsyncstate;.strstrdir

[search]
# Default search excludes
exclude_tags=deleted;spam

[maildir]
synchronize_flags=true
