sourceDir = "{{ .chezmoi.homeDir }}/projects/jasonkuhrt/dotfiles/home"
encryption = "age"

[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age1p4y0hn4l0wv5llnk97rsdatfhyuvdp4fw6z24auvkvd7kya7kc7qf8yvfm"

[data]
    name = "Jason Kuhrt"
    email = "jasonkuhrt@me.com"
