<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>ASCII_Tables</key>
			<dict>
				<key>date</key>
				<date>2016-11-27T01:32:14Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>ASCII Tables</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>ASCII_Tables</string>
				</dict>
			</dict>
			<key>Atom</key>
			<dict>
				<key>date</key>
				<date>2016-11-27T01:32:13Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Atom</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Atom</string>
				</dict>
			</dict>
			<key>Chrome_Dev_Tools</key>
			<dict>
				<key>date</key>
				<date>2016-11-27T01:32:04Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>Chrome Dev Tools</string>
					</array>
					<key>name</key>
					<string>Chrome Developer Tools</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Chrome_Dev_Tools</string>
				</dict>
			</dict>
			<key>Docker</key>
			<dict>
				<key>date</key>
				<date>2016-11-27T01:31:50Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Docker</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Docker</string>
				</dict>
			</dict>
			<key>Git</key>
			<dict>
				<key>date</key>
				<date>2016-11-27T01:29:20Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>terminal</string>
						<string>shell</string>
						<string>bash</string>
						<string>zsh</string>
					</array>
					<key>name</key>
					<string>Git</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Git</string>
				</dict>
			</dict>
			<key>Git_Flow</key>
			<dict>
				<key>date</key>
				<date>2016-11-27T01:31:44Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>terminal</string>
						<string>shell</string>
						<string>bash</string>
						<string>zsh</string>
					</array>
					<key>name</key>
					<string>Git Flow</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Git_Flow</string>
				</dict>
			</dict>
			<key>HTML_Entities</key>
			<dict>
				<key>date</key>
				<date>2016-11-27T01:31:30Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>HTML Entities</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>HTML_Entities</string>
				</dict>
			</dict>
			<key>HTML_Head_Elements</key>
			<dict>
				<key>date</key>
				<date>2016-11-27T01:31:33Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>HTML Head Elements</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>HTML_Head_Elements</string>
				</dict>
			</dict>
			<key>HTTP_Header_Fields</key>
			<dict>
				<key>date</key>
				<date>2016-11-27T01:31:24Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>HTTP Header Fields</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>HTTP_Header_Fields</string>
				</dict>
			</dict>
			<key>HTTP_Status_Codes</key>
			<dict>
				<key>date</key>
				<date>2016-11-27T01:31:25Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>HTTP Status Codes</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>HTTP_Status_Codes</string>
				</dict>
			</dict>
			<key>Hub</key>
			<dict>
				<key>date</key>
				<date>2016-11-27T01:29:24Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>github</string>
					</array>
					<key>name</key>
					<string>Hub</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Hub</string>
				</dict>
			</dict>
			<key>Kubernetes</key>
			<dict>
				<key>date</key>
				<date>2016-11-27T01:30:27Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Kubernetes</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Kubernetes</string>
				</dict>
			</dict>
			<key>Netcat</key>
			<dict>
				<key>date</key>
				<date>2016-11-27T01:30:18Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Netcat</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Netcat</string>
				</dict>
			</dict>
			<key>Oh-My-Zsh_Git</key>
			<dict>
				<key>date</key>
				<date>2016-11-27T01:29:39Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>ohmyzsh</string>
						<string>oh my zsh</string>
						<string>terminal</string>
						<string>shell</string>
						<string>bash</string>
						<string>zsh</string>
					</array>
					<key>name</key>
					<string>Oh-My-Zsh Git</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Oh-My-Zsh_Git</string>
				</dict>
			</dict>
			<key>Regular_Expressions</key>
			<dict>
				<key>date</key>
				<date>2016-11-27T01:30:06Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>RegEx</string>
						<string>reg ex</string>
					</array>
					<key>name</key>
					<string>Regular Expressions</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Regular_Expressions</string>
				</dict>
			</dict>
			<key>Semantic_Commits</key>
			<dict>
				<key>date</key>
				<date>2016-11-27T01:29:31Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>git svn source control hg mercurial</string>
					</array>
					<key>name</key>
					<string>Semantic Commits</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Semantic_Commits</string>
				</dict>
			</dict>
			<key>iTerm2</key>
			<dict>
				<key>date</key>
				<date>2016-11-27T01:31:20Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>terminal</string>
						<string>shell</string>
						<string>bash</string>
						<string>zsh</string>
					</array>
					<key>name</key>
					<string>iTerm2</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>iTerm2</string>
				</dict>
			</dict>
			<key>npm</key>
			<dict>
				<key>date</key>
				<date>2016-11-27T01:30:22Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>node package manager</string>
						<string>nodejs package manager</string>
						<string>node.js package manager</string>
					</array>
					<key>name</key>
					<string>npm</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>npm</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict>
			<key>CSS_Named_Colors</key>
			<dict>
				<key>date</key>
				<date>2016-11-27T01:31:59Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>CSS Named Colors</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>CSS_Named_Colors</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>DHCocoaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHDartRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHGitHubRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHaskellRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>Bluebird</key>
			<dict>
				<key>date</key>
				<date>2016-11-27T01:37:06Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>promise</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Bluebird#readme</string>
					<key>authorLinkText</key>
					<string>Gilad Gray</string>
					<key>name</key>
					<string>Bluebird</string>
					<key>platform</key>
					<string>usercontribBluebird</string>
					<key>uniqueIdentifier</key>
					<string>Bluebird</string>
				</dict>
			</dict>
			<key>HAProxy</key>
			<dict>
				<key>date</key>
				<date>2016-12-06T15:24:32Z</date>
				<key>entry</key>
				<dict>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/HAProxy#readme</string>
					<key>authorLinkText</key>
					<string>Ruoshan Huang</string>
					<key>name</key>
					<string>HAProxy</string>
					<key>platform</key>
					<string>usercontribHAProxy</string>
					<key>uniqueIdentifier</key>
					<string>HAProxy</string>
				</dict>
			</dict>
			<key>Ramda</key>
			<dict>
				<key>date</key>
				<date>2017-03-14T02:33:40Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Ramda#readme</string>
					<key>authorLinkText</key>
					<string>Alex Bepple</string>
					<key>name</key>
					<string>Ramda</string>
					<key>platform</key>
					<string>usercontribRamda</string>
					<key>uniqueIdentifier</key>
					<string>Ramda</string>
				</dict>
			</dict>
			<key>React_Native</key>
			<dict>
				<key>date</key>
				<date>2017-03-27T23:58:31Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>React</string>
						<string>ReactNative</string>
						<string>Facebook</string>
						<string>JavaScript</string>
						<string>Reactjs</string>
						<string>UI</string>
						<string>iOS</string>
						<string>Android</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/React_Native#readme</string>
					<key>authorLinkText</key>
					<string>Michael Sharer</string>
					<key>name</key>
					<string>React Native</string>
					<key>platform</key>
					<string>usercontribReact_Native</string>
					<key>uniqueIdentifier</key>
					<string>React_Native</string>
				</dict>
			</dict>
			<key>Redux</key>
			<dict>
				<key>date</key>
				<date>2017-03-27T23:58:30Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>Redux</string>
						<string>React</string>
						<string>Facebook</string>
						<string>JavaScript</string>
						<string>Reactjs</string>
						<string>UI</string>
						<string>iOS</string>
						<string>Android</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Redux#readme</string>
					<key>authorLinkText</key>
					<string>Michael Sharer</string>
					<key>name</key>
					<string>Redux</string>
					<key>platform</key>
					<string>usercontribRedux</string>
					<key>uniqueIdentifier</key>
					<string>Redux</string>
				</dict>
			</dict>
			<key>Relay</key>
			<dict>
				<key>date</key>
				<date>2016-11-27T01:38:03Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>React</string>
						<string>ReactNative</string>
						<string>Facebook</string>
						<string>JavaScript</string>
						<string>Reactjs</string>
						<string>UI</string>
						<string>Relay</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Relay#readme</string>
					<key>authorLinkText</key>
					<string>Michael Sharer</string>
					<key>name</key>
					<string>Relay</string>
					<key>platform</key>
					<string>usercontribRelay</string>
					<key>uniqueIdentifier</key>
					<string>Relay</string>
				</dict>
			</dict>
			<key>Snap.svg</key>
			<dict>
				<key>date</key>
				<date>2016-11-27T01:38:56Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Snap.svg#readme</string>
					<key>authorLinkText</key>
					<string>Yanick Champoux</string>
					<key>name</key>
					<string>Snap.svg</string>
					<key>platform</key>
					<string>usercontribSnap.svg</string>
					<key>uniqueIdentifier</key>
					<string>Snap.svg</string>
				</dict>
			</dict>
			<key>virtualenv</key>
			<dict>
				<key>date</key>
				<date>2016-11-27T01:38:30Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/virtualenv#readme</string>
					<key>authorLinkText</key>
					<string>Dan Girellini</string>
					<key>name</key>
					<string>virtualenv</string>
					<key>platform</key>
					<string>usercontribvirtualenv</string>
					<key>uniqueIdentifier</key>
					<string>virtualenv</string>
				</dict>
			</dict>
			<key>webpack</key>
			<dict>
				<key>date</key>
				<date>2016-11-27T01:38:36Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/webpack#readme</string>
					<key>authorLinkText</key>
					<string>Matija Marohnić</string>
					<key>name</key>
					<string>webpack</string>
					<key>platform</key>
					<string>usercontribwebpack</string>
					<key>uniqueIdentifier</key>
					<string>webpack</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict>
			<key>Flow</key>
			<dict>
				<key>date</key>
				<date>2016-11-27T01:54:59Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>Flow</string>
						<string>Facebook</string>
						<string>JavaScript</string>
						<string>UI</string>
						<string>type</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Flow#readme</string>
					<key>authorLinkText</key>
					<string>Michael Sharer</string>
					<key>name</key>
					<string>Flow</string>
					<key>platform</key>
					<string>usercontribFlow</string>
					<key>uniqueIdentifier</key>
					<string>Flow</string>
				</dict>
			</dict>
			<key>Jest</key>
			<dict>
				<key>date</key>
				<date>2017-03-14T02:42:01Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>Jest</string>
						<string>React</string>
						<string>Webpack</string>
						<string>jQuery</string>
						<string>CoffeeScript</string>
						<string>Facebook</string>
						<string>JavaScript</string>
						<string>Reactjs</string>
						<string>UI</string>
						<string>Unit Test</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Jest#readme</string>
					<key>authorLinkText</key>
					<string>Michael Sharer</string>
					<key>name</key>
					<string>Jest</string>
					<key>platform</key>
					<string>usercontribJest</string>
					<key>uniqueIdentifier</key>
					<string>Jest</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>DHWebViewIsDark</key>
	<false/>
	<key>annotationsAreShown</key>
	<false/>
	<key>docsets</key>
	<dict>
		<key>keywords</key>
		<dict/>
	</dict>
	<key>feeds</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>http://kapeli.com/feeds/Apache_HTTP_Server.xml</key>
			<dict>
				<key>date</key>
				<date>2016-11-27T01:24:37Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Chai.xml</key>
			<dict>
				<key>date</key>
				<date>2016-11-27T01:25:52Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Clojure.xml</key>
			<dict>
				<key>date</key>
				<date>2016-11-27T01:25:55Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Docker.xml</key>
			<dict>
				<key>date</key>
				<date>2016-11-27T01:25:55Z</date>
			</dict>
			<key>http://kapeli.com/feeds/ElasticSearch.xml</key>
			<dict>
				<key>date</key>
				<date>2016-11-27T01:26:12Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Express.xml</key>
			<dict>
				<key>date</key>
				<date>2016-11-27T01:26:18Z</date>
			</dict>
			<key>http://kapeli.com/feeds/HTML.xml</key>
			<dict>
				<key>date</key>
				<date>2016-11-27T01:27:09Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Handlebars.xml</key>
			<dict>
				<key>date</key>
				<date>2016-11-27T01:26:47Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Haskell.xml</key>
			<dict>
				<key>date</key>
				<date>2016-11-27T01:26:55Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Jade.xml</key>
			<dict>
				<key>date</key>
				<date>2016-11-27T01:27:12Z</date>
			</dict>
			<key>http://kapeli.com/feeds/JavaScript.xml</key>
			<dict>
				<key>date</key>
				<date>2016-11-27T01:28:04Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Lo-Dash.xml</key>
			<dict>
				<key>date</key>
				<date>2016-11-27T01:25:01Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Man_Pages.xml</key>
			<dict>
				<key>date</key>
				<date>2016-11-27T01:27:41Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Nginx.xml</key>
			<dict>
				<key>date</key>
				<date>2016-11-27T01:25:35Z</date>
			</dict>
			<key>http://kapeli.com/feeds/NodeJS.xml</key>
			<dict>
				<key>date</key>
				<date>2016-11-27T01:28:04Z</date>
			</dict>
			<key>http://kapeli.com/feeds/React.xml</key>
			<dict>
				<key>date</key>
				<date>2016-11-27T01:24:30Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Redis.xml</key>
			<dict>
				<key>date</key>
				<date>2016-11-27T01:28:18Z</date>
			</dict>
			<key>http://kapeli.com/feeds/TypeScript.xml</key>
			<dict>
				<key>date</key>
				<date>2016-11-27T01:24:13Z</date>
			</dict>
			<key>http://kapeli.com/feeds/VueJS.xml</key>
			<dict>
				<key>date</key>
				<date>2016-11-27T01:24:29Z</date>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>isPinned</key>
	<true/>
	<key>placeholderDelimiter</key>
	<string>__</string>
	<key>profiles</key>
	<array>
		<dict>
			<key>isDefault</key>
			<true/>
			<key>name</key>
			<string>Default</string>
			<key>searchSnippets</key>
			<true/>
			<key>triggers</key>
			<array>
				<dict>
					<key>description</key>
					<string>"all:" is typed in the main search field</string>
					<key>image</key>
					<string>searchKeywordIcon</string>
					<key>isKeywordTrigger</key>
					<true/>
					<key>keyword</key>
					<string>all:</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>docsets</key>
			<array>
				<string>~/Library/Application Support/Dash/DocSets/Lo-Dash/Lo-Dash.docset</string>
				<string>~/Library/Application Support/Dash/User Contributed/Bluebird/bluebird.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/Chai/Chai.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/React/React.docset</string>
				<string>~/Library/Application Support/Dash/User Contributed/Relay/Relay.docset</string>
				<string>~/Library/Application Support/Dash/User Contributed/Redux/Redux.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/TypeScript/TypeScript.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/JavaScript/JavaScript.docset</string>
				<string>~/Library/Application Support/Dash/User Contributed/Snapsvg/snap.svg.docset</string>
				<string>~/Library/Application Support/Dash/User Contributed/webpack/webpack.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/VueJS/VueJS.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/Handlebars/Handlebars.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/HTML/HTML.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/NodeJS/NodeJS.docset</string>
				<string>~/Library/Application Support/Dash/Cheat Sheets/npm/npm.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/Express/Express.docset</string>
				<string>~/Library/Application Support/Dash/Cheat Sheets/HTTP Status Codes/HTTP_Status_Codes.docset</string>
				<string>~/Library/Application Support/Dash/Cheat Sheets/HTTP Header Fields/HTTP_Header_Fields.docset</string>
				<string>~/Library/Application Support/Dash/Cheat Sheets/HTML Head Elements/HTML_Head_Elements.docset</string>
				<string>~/Library/Application Support/Dash/Cheat Sheets/HTML Entities/HTML_Entities.docset</string>
				<string>~/Library/Application Support/Dash/Cheat Sheets/Chrome Developer Tools/Chrome_Dev_Tools.docset</string>
				<string>~/Library/Application Support/Dash/User Contributed/Ramda/Ramda.docset</string>
				<string>~/Library/Application Support/Dash/Cheat Sheets/Regular Expressions/Regular_Expressions.docset</string>
				<string>~/Library/Application Support/Dash/User Contributed/React Native/React_Native.docset</string>
				<string>~/Library/Application Support/Dash/User Contributed/Jest/Jest.docset</string>
			</array>
			<key>name</key>
			<string>Web</string>
			<key>searchSnippets</key>
			<true/>
			<key>triggers</key>
			<array>
				<dict>
					<key>description</key>
					<string>"web:" is typed in the main search field</string>
					<key>image</key>
					<string>searchKeywordIcon</string>
					<key>isKeywordTrigger</key>
					<true/>
					<key>keyword</key>
					<string>web:</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>icon</key>
			<string>Snippet</string>
			<key>name</key>
			<string>Snippets Only</string>
			<key>placeholder</key>
			<string>Search Snippets</string>
			<key>searchSnippets</key>
			<true/>
		</dict>
	</array>
	<key>searchKey</key>
	<dict>
		<key>keyCode</key>
		<integer>-1</integer>
		<key>modifiers</key>
		<integer>8395520</integer>
	</dict>
	<key>shouldRestoreTabs</key>
	<true/>
	<key>shouldShowStatusIcon</key>
	<false/>
	<key>shouldSyncBookmarks</key>
	<true/>
	<key>shouldSyncDocsets</key>
	<true/>
	<key>shouldSyncGeneral</key>
	<true/>
	<key>shouldSyncView</key>
	<true/>
	<key>showInDock</key>
	<true/>
	<key>showSearchFallbacks</key>
	<true/>
	<key>versionedDHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHCocoaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHDartRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHGitHubRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHHaskellRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedFeeds</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>windowStyle</key>
	<string>Standard</string>
</dict>
</plist>
